{extend name="base" /}
{block name="content_title"}添加/编辑{/block}
{block name="content_body"}	
	<form method="post" class="form-x" action="">		
		{html:input name="type_name" class="input w50" addstr='data-validate="required:请输入类型名称"' label="类型名称"}				
		{include file="product_type/spec_id" /}
		{html:input name="order_id" class="input w50" value="1" label="排序" }
		{html:radio name="is_show" value=":config('is_show')" default="1" label="显示" }
		<div class="form-group">
			<div class="label">
				<label></label>
			</div>
			<div class="field">
				{html:button class="bg-main icon-check-square-o" } 提交{/html:button}
			</div>
		</div>
	</form>
{/block}
{block name="my_script"}{/block}