{extend name="base" /}
{block name="content_title"}添加/编辑{/block}
{block name="content_body"}	
	<form method="post" class="form-x" action="">	
		{html:hidden name="id" value="$dataEdit.id"}	
		{html:input name="cate_name" class="input w50" value="$dataEdit.cate_name" addstr='data-validate="required:请输入栏目名称"' label="栏目名称"}
		{html:input name="alias_name" class="input w50" value="$dataEdit.alias_name" label="别名"}	
		{html:fileImg name="cate_img" class="input w50" value="$dataEdit.cate_img" label="缩略图"}		
		{html:editor name="content" id="content" addstr="style='width:100%;height:300px;max-width:1000px;'" type="ueditor" label="专题内容" }{$dataEdit.content}{/html:editor}
		{html:radio name="is_show" value=":config('is_show')" default="$dataEdit.is_show" label="显示" }			
		<div class="form-group">
			<div class="label">
				<label></label>
			</div>
			<div class="field">
				{html:button class="bg-main icon-check-square-o" } 提交{/html:button}
			</div>
		</div>
	</form>
{/block}