{extend name="base" /}
{block name="content_title"}广告管理{/block}
{block name="content_btn_top"}
{html:button href=":url('ad_delete')" class="border-red delete-multi" }<span class="icon-trash-o"></span> 批量删除{/html:button} 
{html:button href=":url('ad_add')"  }<span class="icon-plus-square-o"></span> 添加广告{/html:button} 
{/block} 
{block name="content_body"}
<div class="table-responsive">
  <table class="table table-hover table-middle">
    <tr>
        <th width="5%"><input type="checkbox" checkfor="id" class="check_all" title="全选">ID</th>      
        <th>广告标题</th>
        <th width="*">广告位置</th>
        <th width="*">广告图片</th>      
        <th width="*">更新时间</th>
        <th width="10%">状态</th>
        <th width="15%">操作</th>
    </tr>
    {volist name='dataList' id='vo'}
    <tr>
        <td><input type="checkbox" name="id" value="{$vo->id}" id="id_{$vo->id}"><label for="id_{$vo->id}">{$vo->id}</label></td>     
        <td title="{$vo->ad_name}" class="table-title">{$vo->ad_name|substr_cn=24}</td>
        <td>{$vo->ad->ad_name|default="--"}</td>
        <td><img src="{$vo->ad_img}" class="table-img img-border radius" /></td>
        <td>{$vo->update_time_text}</td>
        <td><span class="tag_ststus_show" tag-value="{$vo->is_show}"></span></td>
        <td><div class="button-group"> 
        <a class="button border-main" href="{:url('ad_edit','id='.$vo->id)}"><span class="icon-edit"></span> 修改</a> 
        <a class="button border-red" href="{:url('ad_delete','id='.$vo->id)}" onclick="return del(1,2)"><span class="icon-trash-o"></span> 删除</a> </div></td>
    </tr>
	{/volist}
  </table>
</div>
  {$dataList->render()}
{/block}