{extend name="base" /}
{block name="content_title"}添加/编辑{/block}
{block name="content_body"}	
		<form method="post" class="form-x" action="">		
			{html:input name="title" class="input w50" addstr='data-validate="required:请输入配置名称"' label="配置名称"}
			{html:input name="key" class="input w50" addstr='data-validate="required:请输入配置标识"' label="配置标识"}
			{html:input name="value" class="input w50" label="配置值"}
			{html:radio name="type" value=":config('base.setting_type')" default="input" label="配置类型" }
			{html:textarea name="desc" class="input" style="height:80px" label="配置说明"}
			{html:input name="order_id" class="input w50" value="1" label="排序" }

			<div class="form-group">
				<div class="label">
					<label></label>
				</div>
				<div class="field">
					{html:button class="bg-main icon-check-square-o" } 提交{/html:button}
				</div>
			</div>
		</form>
{/block}