{extend name="base" /}
{block name="content_title"}站点配置{/block}
{block name="content_btn_top"}
{if $group eq 'custom'}
{html:button href=":url('add')"  }<span class="icon-plus-square-o"></span> 添加{/html:button} 
{/if}
{/block} 
{block name="content_body"}
<div class="body-content">
    <form method="post" class="form-x" action="">
        {volist name="dataList" id="vo"}
            {include file="setting/form-group"}
        {/volist}
        <div class="form-group">
            <div class="label">
                <label></label>
            </div>
        <div class="field">
            <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
{/block}