{extend name="base" /}
{block name="seo_title"}账号及密码 - {__block__}{/block}
{block name="content"}
<div class="about">
    <div class="abocon container">
        {include file="common/left" /}
        <div class="huiyuan">
            <div class="grzl">
                <h1>账户及密码</h1>
                <div class="zhjmm">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="160">
                                <h2 class="zhjh1">手机验证</h2></td>
                            <td width="560">{$user.user_phone} 可使用此号码登录</td>
                            <td style="color:#999">
                                <a href="{:url('user_phone')}">已绑定</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="zhjh2">邮箱验证</h2></td>
                            <td>未绑定</td>
                            <td><a href="{:url('email')}" class="ljbd">立即绑定</a></td>
                        </tr>
                        <tr>
                            <td width="160">
                                <h2 class="zhjh1">登录密码</h2></td>
                            <td width="560">********</td>
                            <td><a href="{:url('password')}">修改</a></td>
                        </tr>
                    </table>                   
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{/block}
