{extend name="base" /}
{block name="seo_title"}账号及密码 - {__block__}{/block}
{block name="content"}
<div class="about">
    <div class="abocon container">
        {include file="common/left" /}
        <div class="huiyuan">
            <div class="grzl">
                <h1>登录密码</h1>
                <form action="" method="post" id="password_form">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  	<tr>
                    	<td>
                        	<div class="ziliao">
                            	<label>原密码：</label>
                                <input name="user_pass_old" type="password" class="inp3" value="" placeholder="请输入原密码"/>
                                <div class="clear"></div>
                            </div>
                            <div class="ziliao">
                            	<label>新密码：</label>
                                <input name="user_pass" type="password" class="inp3" value="" placeholder="请输入新密码"/>
                                <div class="clear"></div>
                            </div>
                            <div class="ziliao">
                            	<label>确认密码：</label>
                                <input name="user_pass_confirm" type="password" class="inp3" value="" placeholder="请确认密码"/>
                                <div class="clear"></div>
                            </div>
                            <input type="submit" class="btn5" value="保存"/>
                    	</td>                        
                  	</tr>
                </table>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{/block}
{block name="script"}
<!-- 自定义脚本 -->
<script type="text/javascript">
$(function(){
	$("#password_form").submit(function(event) {
		$.ajax({
			url: $(this).attr('action'),
			type: 'POST',
			dataType: 'json',
			data: $(this).serialize(),
		}).always(function(data) {
			if(data.code != '1'){
				data.url = '';
			}
			toolTips(data.msg, data.code,data.url)
		});
		
		return false;
	});
});
</script>
{/block}
