{extend name="base" /}
{block name="content_title"}添加/编辑{/block}
{block name="content_body"}	
		<form method="post" class="form-x" action="">		
			{html:input name="title" class="input w50" addstr='data-validate="required:请输入标题"' label="标题"}
			{html:select name="cate_id" option="cateTree" value="id->cate_name" label="所属栏目" addstr='data-validate="required:请选择所属栏目"'  }

			<div class="form-group">
				<div class="label"><label>所属行业：</label></div>
				<div class="field">
					<div class="button-group border-main checkbox">
						{volist name="industryTree" id="vo"}
						<label class="button">
						<input name="industry_id[]" value="{$vo.id}" type="checkbox">{$vo.industry_name}
						<span class="icon-arrow-right"></span>
						</label>
						{if condition="!empty($vo['_child'])"}
								{volist name="vo._child" id="val"}
								<label class="button">
								<input name="industry_id[]" value="{$val.id}" type="checkbox">{$val.industry_name}
								</label>
								{/volist}		
							</div><br><div class="button-group border-main checkbox">
						{else}
						</div><br><div class="button-group border-main checkbox">
						{/if}
						{/volist}						
					</div>
					<div class="tips" title=""></div>
				</div>
			</div>
			{html:input name="author" class="input w50" label="美工"}
			{html:input name="author_1" class="input w50" label="程序"}
			{html:input name="abstract" class="input w50" label="摘要"}
			{html:fileImg name="art_img" class="input w50" label="缩略图"}
			{html:fileImg name="art_img_more" class="input w50" more="1" label="组图"}
			{include file="editor" type="ueditor" /}
			{html:input name="art_link" class="input w50" label="链接"}
			{html:radio name="color" value=":config('base.color')" default="red" label="颜色" }
			{html:radio name="price" value=":config('base.price')" default="1" label="价格" }
			{html:input name="views" class="input w50" value="100" label="浏览量" }
			{html:input name="order_id" class="input w50" value="1" label="排序" }
			{html:radio name="is_show" value=":config('is_show')" default="1" label="显示" }


			<div class="form-group">
				<div class="label">
					<label></label>
				</div>
				<div class="field">
					{html:button class="bg-main icon-check-square-o" } 提交{/html:button}
				</div>
			</div>
		</form>
{/block}
{block name="my_script"}
{load href="/static/backend/plugin/multiple-select-master/multiple-select.css,/static/backend/plugin/multiple-select-master/multiple-select.js" /}
<script>
    // $(function() {
    //     $('#industry_id').change(function() {
    //         console.log($(this).val());
    //     }).multipleSelect({
    //     	// multiple: true,
    //     	minimumCountSelected : 10,
    //         width: '100%'
    //     });
    // });
</script>
{/block}