{extend name="base" /}
{block name="content_title"}数据表{/block}
{block name="content_btn_top"}
{/block} 
{block name="content_body"}
<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th width="8%">序号</th>
      <th>列</th>
      <th width="*">类型</th>
      <th width="*">允许为空</th>
      <th width="*">默认值</th>
      <th width="*">注释</th>
    </tr>
    {volist name='dataList' id='vo'}
    <tr>
      <td>{$i}</td>
      <td>{$vo.Field}</td>
      <td>{$vo.Type|default="--"}</td>
      <td>{$vo.Null}</td>
      <td>{$vo.Default|default="NULL"}</td>
      <td>{$vo.Comment}</td>      
    </tr>
	{/volist}
  </table>  
</div>
{/block}