{extend name="base" /}
{block name="seo"}{:get_seo('activity')}{/block}
{block name="content"}
<!--banner-->
<div class="banner" style="height:515px; background:url({$default_path}/images/ban4.jpg) no-repeat center center;">
	<div class="yh container">
    	<img src="{$default_path}/images/icon41.png" alt="" width="498" class="float_l" aos="slide-right"/>
        <div class="yhr float_r">
        	<h1 aos="slide-left">建站之星营销型网站&nbsp;—&nbsp;<b>优惠活动</b></h1>
            <p aos="slide-left" aos-delay="100">天生具备超营销力，让您随时随地赢客户</p>
            <h2 aos="slide-left" aos-delay="200">超值优惠：买两年送一年，买三年送两年，再送两千元豪华礼包</h2>
            <div class="yhrb" aos="slide-left" aos-delay="300"><a href="http://wpa.qq.com/msgrd?v=3&uin=2355310909&site=qq&menu=yes">立即咨询</a>咨询热线：<span>{$setting.telephone}</span></div>
        </div>
        <div class="clear"></div>
    </div>
</div>


<!--优惠活动-->
<div class="active1">
	<div class="container">
    	<div class="act1">
        	<div class="actit" aos="fade-down">
            	<p>将产品展示做到极致、将搜索优化做到极致</p>
                <h1>套餐一:<b>标准化普通企业网站</b></h1>
            </div>
            <div class="act1con">
            	<img src="{$default_path}/images/img39.jpg" alt="" width="320" class="float_l" aos="zoom-in-left"/>
                <div class="act1cr float_r">
                	<h1>建站方式</h1>
                    <a href="">成品模版建站</a><a href="">成品模版建站</a>
                    <h1>网站目标:让更多的客户找到您的网站，留住网站的来访客户，让更多的客户与您联系成为您的客户。</h1>
					<h1>网站配置:电脑网站、手机网站、微信网站、网站空间（5G）、网站模板（全部可用）</h1>
                    <p><i>8800</i>元/年起 买三年送一年 买五年送二年 </p>
                    <br><br>
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=2355310909&site=qq&menu=yes" class="ac1">立即联系</a><a href="{:url('/case')}" class="ac2">查看案例</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="active2">
	<div class="container">
    	<div class="act1">
        	<div class="actit" aos="fade-down">
            	<p>将产品展示做到极致、将搜索优化做到极致</p>
                <h1>套餐二:<b>旗舰版高端创意网站</b></h1>
            </div>
            <div class="act1con">
            	<img src="{$default_path}/images/img40.jpg" alt="" width="320" class="float_l" aos="zoom-in-right"/>
                <div class="act1cr float_r">
                	<h1>建站方式</h1>
                    <a href="">成品模版建站</a><a href="">成品模版建站</a>
                    <h1>网站目标:让更多的客户找到您的网站，留住网站的来访客户，让更多的客户与您联系成为您的客户。</h1>
					<h1>网站配置:电脑网站、手机网站、微信网站、网站空间（5G）、网站模板（全部可用）</h1>
                    <p><i>12800</i>元/年起 买三年送一年 买五年送二年 </p>
                    <br><br>
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=2355310909&site=qq&menu=yes" class="ac1">立即联系</a><a href="{:url('/case')}" class="ac2">查看案例</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="active1">
	<div class="container">
    	<div class="act1">
        	<div class="actit" aos="fade-down">
            	<p>将产品展示做到极致、将搜索优化做到极致</p>
                <h1>套餐三:<b>全网营销型功能型</b></h1>
            </div>
            <div class="act1con">
            	<img src="{$default_path}/images/img41.jpg" alt="" width="320" class="float_l" aos="zoom-in-left"/>
                <div class="act1cr float_r">
                	<h1>建站方式</h1>
                    <a href="">成品模版建站</a><a href="">成品模版建站</a>
                    <h1>网站目标:让更多的客户找到您的网站，留住网站的来访客户，让更多的客户与您联系成为您的客户。</h1>
					<h1>网站配置:电脑网站、手机网站、微信网站、网站空间（5G）、网站模板（全部可用）</h1>
                    <p><i>16800</i>元/年起 买三年送一年 买五年送二年 </p>
                    <br><br>
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=2355310909&site=qq&menu=yes" class="ac1">立即联系</a><a href="{:url('/case')}" class="ac2">查看案例</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="active2">
	<div class="container">
    	<div class="act1">
        	<div class="actit" aos="fade-down">
            	<p>将产品展示做到极致、将搜索优化做到极致</p>
                <h1>套餐四:<b>多端智能响应式功能网站</b></h1>
            </div>
            <div class="act1con">
            	<img src="{$default_path}/images/img42.jpg" alt="" width="320" class="float_l" aos="zoom-in-right"/>
                <div class="act1cr float_r">
                	<h1>建站方式</h1>
                    <a href="">成品模版建站</a><a href="">成品模版建站</a>
                    <h1>网站目标:让更多的客户找到您的网站，留住网站的来访客户，让更多的客户与您联系成为您的客户。</h1>
					<h1>网站配置:电脑网站、手机网站、微信网站、网站空间（5G）、网站模板（全部可用）</h1>
                    <p><i>21800</i>元/年起 买三年送一年 买五年送二年 </p>
                    <br><br>
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=2355310909&site=qq&menu=yes" class="ac1">立即联系</a><a href="{:url('/case')}" class="ac2">查看案例</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
{/block}