{extend name="base" /}
{block name="seo"}{:get_seo('marketing')}{/block}
{block name="content"}
<!--banner-->
<div class="banner" style="height:515px; background:url({$default_path}/images/ban3.jpg) no-repeat center center;">
	<div class="yx container">
    	<p class="sp1" aos="fade-right">推广易，流量多</p><p class="sp2" aos="fade-left">见效快，询盘高</p>
        <div class="yxx" aos="flip-down">
        	<p>什么是</p>
            <div class="h1b"><h1>营销型网站</h1></div>
            <span>资海网络让你的网站天生具备营销能力</span>
        </div>
    </div>
</div>


<!--营销型网站-->
<div class="yxxwz1">
	<div class="container">
    	<div class="yy1l float_l">
        	<h1>企业网站建设与运营维护<b>一体化</b></h1>
            <p>所谓营销型网站就是为实现某种特定的营销目标，能将营销的思想、方法和技巧融入到网站策划、设计与制作中的网站。最为常见的营销型网站的目标是获得销售线索或直接获得订单。</p>
			<p>营销型网站是对网站的发展，整合了各种网络营销理念和网站运营管理方法，不仅注重网站建设的专业性，更加注重网站运营管理的整个过程，是企业网站建设与运营维护一体化的全程网络营销模式。</p>
            <ul>
            	<li><img src="{$default_path}/images/img31.jpg" alt="" width="78"/>快捷服务</li>
                <li><img src="{$default_path}/images/img32.jpg" alt="" width="78"/>高大上网站</li>
                <li><img src="{$default_path}/images/img33.jpg" alt="" width="78"/>贴心服务</li>
                <li><img src="{$default_path}/images/img34.jpg" alt="" width="78"/>超值省钱</li>
                <div class="clear"></div>
            </ul>
        </div>
        <img src="{$default_path}/images/img30.jpg" alt="" class="yy1r float_r" width="495" aos="flip-left"/>
        <div class="clear"></div>
    </div>
</div>
<div class="yxxwz2">
	<img src="{$default_path}/images/icon26.png" alt="" class="img3"/>
	<div class="container">
    	<div class="titl1" aos="fade-down">
        	<p>找到你 · 了解你 · 爱上你 · 把你的产品买回家</p>
            <h1>一个<b>好的营销型网站</b>可以带给您什么？ </h1>
        </div>
        <div class="yy2">
        	<img src="{$default_path}/images/icon27.png" alt="" class="yy2img1"/>
        	<div class="yy2b1" style="margin-right:20px">
            	<h1 class="sph1"><b>推广易，</b>流量多</h1>
                <span>上线当月即可让您网站免费排名到百度第一页</span>
                <p>项国家专利，自主研发的建站系统全国领先7大优化系统，<b>锁定搜索引擎</b>让您的网站<b>轻松上百度首页6支专家团队</b>，为您量身定做最具营销力好网站。自主研发的建站系统全国领先7大优化系统，<b>锁定搜索引擎</b>让您的网站轻</p>
                <div class="line1" style="margin-top:30px;"></div>
                <img src="{$default_path}/images/icon29.png" alt="" class="yy2img"/>
            </div>
            <div class="yy2b1" style="text-align:right">
            	<h1 class="sph1"><b>推广易，</b>流量多</h1>
                <span>上线当月即可让您网站免费排名到百度第一页</span>
                <p>项国家专利，自主研发的建站系统全国领先7大优化系统，<b>锁定搜索引擎</b>让您的网站<b>轻松上百度首页6支专家团队</b>，为您量身定做最具营销力好网站。自主研发的建站系<br>统全国领先7大优化系统，<b>锁定搜索引擎</b>让您的网站轻</p>
                <div class="line1" style="margin-top:100px; margin-left:90px;"></div>
                <img src="{$default_path}/images/icon30.png" alt="" class="yy2img" style="left:0;"/>
            </div>
            <div class="yy2b1" style="margin-right:20px">
            	<h1 class="sph1"><b>推广易，</b>流量多</h1>
                <span>上线当月即可让您网站免费排名到百度第一页</span>
                <p>项国家专利，自主研发的建站系统全国领先7大优化系统，<b>锁定搜索引擎</b>让您的网站<b>轻松上百度首页6支专家团队</b>，为您量身定做最具营销力好网站。自主研发的建站系统全国领先7大优化系统，<b>锁定搜索引擎</b>让您的网站轻</p>
                <div class="line1" style="margin-top:60px;"></div>
                <img src="{$default_path}/images/icon31.png" alt="" class="yy2img"/>
            </div>
            <div class="yy2b1" style="text-align:right">
            	<h1 class="sph1"><b>推广易，</b>流量多</h1>
                <span>上线当月即可让您网站免费排名到百度第一页</span>
                <p>项国家专利，自主研发的建站系统全国领先7大优化系统，<b>锁定搜索引擎</b>让您的网站<b>轻松上百度首页6支专家团队</b>，为您量身定做最具营销力好网站。自主研发的建站系<br>统全国领先7大优化系统，<b>锁定搜索引擎</b>让您的网站轻</p>
                <div class="line1" style="margin-top:100px; margin-left:90px;"></div>
                <img src="{$default_path}/images/icon32.png" alt="" class="yy2img" style="left:0; bottom:0"/>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="yxxwz3">
	<img src="{$default_path}/images/icon33.png" alt="" class="img3"/>
	<div class="container">
    	<div class="titl1" aos="fade-down">
        	<p>找到你 · 了解你 · 爱上你 · 把你的产品买回家</p>
            <h1>四大专家<b>精心打造</b>您的网站</h1>
        </div>
        <div class="yy3" aos="zoom-in-up">
        	<div class="yy3box">
            	<div class="yy3b1"><div class="yy3b1c"></div></div>
                <h1>网站策划师</h1><h2>全网整体规划布局</h2>
                <div class="yy3b2">
                	<p>网站精准定位策划</p><p>网站整体框架策划</p><p>网站精准定位策划</p><p>网站栏目架构规划</p>
                </div>
                <p>快速缔造网站的核心竞争力</p><p>和高营销力，提升转化率！</p>
            </div>
            <div class="yy3box">
            	<div class="yy3b1"><div class="yy3b1c yy3b1c1"></div></div>
                <h1>网站程序员</h1><h2>全网整体规划布局</h2>
                <div class="yy3b2">
                	<p>网站精准定位策划</p><p>网站整体框架策划</p><p>网站精准定位策划</p><p>网站栏目架构规划</p>
                </div>
                <p>快速缔造网站的核心竞争力</p><p>和高营销力，提升转化率！</p>
            </div>
            <div class="yy3box">
            	<div class="yy3b1"><div class="yy3b1c yy3b1c2"></div></div>
                <h1>网站文案师</h1><h2>全网整体规划布局</h2>
                <div class="yy3b2">
                	<p>网站精准定位策划</p><p>网站整体框架策划</p><p>网站精准定位策划</p><p>网站栏目架构规划</p>
                </div>
                <p>快速缔造网站的核心竞争力</p><p>和高营销力，提升转化率！</p>
            </div>
            <div class="yy3box">
            	<div class="yy3b1"><div class="yy3b1c yy3b1c3"></div></div>
                <h1>平面设计师</h1><h2>全网整体规划布局</h2>
                <div class="yy3b2">
                	<p>网站精准定位策划</p><p>网站整体框架策划</p><p>网站精准定位策划</p><p>网站栏目架构规划</p>
                </div>
                <p>快速缔造网站的核心竞争力</p><p>和高营销力，提升转化率！</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="yxxwz4">
	<img src="{$default_path}/images/icon38.png" alt="" class="img3"/>
	<div class="yy4 container">
      <div class="yy4img"><h1 aos="fade-down" aos-delay="600">核心要素</h1></div>
      <div class="yy4b" aos="fade-down-right">
      	<h1>以帮助企业实现经营目标</h1>
        <p>营销型企业网站一定是为了满足企业的某些方面的网络营销功能，比如面向客户服务为主的企业网站营销功能，以销售为主的企业网站营销功能</p>
        <div class="clear"></div>
      </div>
      <div class="yy4b yy4b1" aos="fade-down-left">
      	<h1>良好的客户体验</h1>
        <p>企业网站最终面对的潜在客户与客户或说与本公司业务有关联的任何组织和个人，如何提升企业网站的客户体验是营销型企业网站必须考虑的重要</p>
        <div class="clear"></div>
      </div>
      <div class="yy4b" aos="fade-up-right">
      	<h1>良好的搜索引擎表现</h1>
        <p>企业网站另一个重要功能是网站推广功能，而搜索引擎是目前网民获取信息最重要的渠道，如果企业网站无法通过搜索引擎进行有效推广，那么</p>
        <div class="clear"></div>
      </div>
      <div class="yy4b yy4b1" aos="fade-up-left">
      	<h1>重视细节、网站监控与管理</h1>
        <p>细节本也是客户体验中一个重要的元素，由于其的重要性所以我们单独将其作为营销型企业网站的一个因素，在营销型网站的流程制定、内容维</p>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
</div>
<div class="yxxwz5">
	<div class="container">
    	<div class="titl1" aos="fade-down">
        	<p>找到你 · 了解你 · 爱上你 · 把你的产品买回家</p>
            <h1>多家企业通过网络营销<b>快速赚钱、持续盈利</b></h1>
        </div>
        <div class="yy5">
        	<ul>
            	<li><a href=""><img src="{$default_path}/images/img36.jpg" alt=""/></a></li>
                <li><a href=""><img src="{$default_path}/images/img37.jpg" alt=""/></a></li>
                <li><a href=""><img src="{$default_path}/images/img38.jpg" alt=""/></a></li>
                <li><a href=""><img src="{$default_path}/images/img37.jpg" alt=""/></a></li>
                <li><a href=""><img src="{$default_path}/images/img36.jpg" alt=""/></a></li>
                <li><a href=""><img src="{$default_path}/images/img38.jpg" alt=""/></a></li>
                <li><a href=""><img src="{$default_path}/images/img37.jpg" alt=""/></a></li>
                <li><a href=""><img src="{$default_path}/images/img36.jpg" alt=""/></a></li>
                <li><a href=""><img src="{$default_path}/images/img38.jpg" alt=""/></a></li>
                <li><a href=""><img src="{$default_path}/images/img36.jpg" alt=""/></a></li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>
{/block}