{extend name="base" /}
{block name="content"}
<!--banner-->
<div class="ly_banner">
    <div class="main_visual">
                <div class="flicking_con">
                    <div class="flicking_inner">
                    {volist name=":get_ad_list('index')" id="vo"}
                    <a href="{$vo.ad_link}" target="{$vo.ad_target}">{$i}</a>
                    {/volist}
                    </div>
            </div>
            <div class="main_image">
                <ul>     
                    {volist name=":get_ad_list('index')" id="vo"}                
                    <li><a href="{$vo.ad_link}" target="{$vo.ad_target}" title="{$vo.ad_name}"><span class="img_1" style="background: url('{$vo.ad_img}') no-repeat 50% 50%;"></span></a></li>
                    {/volist}
                </ul>
                <a href="javascript:;" id="btn_prev" class="png"></a>
                <a href="javascript:;" id="btn_next" class="png"></a>
            </div>
     </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var fwidth = $(".flicking_inner a").width();
            var fdiv = $(".flicking_con").width();
            var fnum = $(".flicking_inner a").size();
            var fleft = (fdiv - fwidth*2*fnum)*0.5;
            $(".flicking_inner").css("marginLeft",fleft)
            });
    </script>
</div>
<div class="part">
    <div class="container">
        <div class="title" aos="fade-down">
            <h1><b>权威专家</b>为您一对一服务</h1>
            <div class="line"><span></span></div>
        </div>
        <div class="pacon">
            <ul aos="zoom-in">
                <li>
                    <div class="pali">
                        <div class="liimg1"></div>
                        <h1>标准化普通企业网站</h1>
                        <p>域名一个，空间2G，网站维护一年，短信包1000条，专题页一个！</p>
                        <a href="{:url('/activity')}">更多></a>
                    </div>
                </li>
                <li>
                    <div class="pali">
                        <div class="liimg1"></div>
                        <h1>旗舰版高端创意网站</h1>
                        <p>高端设计，短信包2000条，专题页两个！</p>
                        <a href="{:url('/activity')}">更多></a>
                    </div>
                </li>
                <li>
                    <div class="pali">
                        <div class="liimg1"></div>
                        <h1>全网营销型功能型</h1>
                        <p>全网策划，主推产品专题页3个，在线交易！</p>
                        <a href="{:url('/activity')}">更多></a>
                    </div>
                </li>
                <li>
                    <div class="pali">
                        <div class="liimg1"></div>
                        <h1>多端智能响应式功能网站</h1>
                        <p>同等流量营销型网站比模板网站咨询率高300%！网站更省钱，更赚钱！</p>
                        <a href="{:url('/activity')}">更多></a>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>
<div class="part1">
    <div class="container">
        <div class="pa1top">
            <div class="pa1tl">
                <div class="device">
                <a class="arrow-left" href="javascript:;"><</a>
                <a class="arrow-right" href="javascript:;">></a>
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    {volist name=":get_ad_list('index_middle')" id="vo"}
                    <div class="swiper-slide">
                        <a href="{$vo.ad_link}" target="{$vo.ad_target}"><img src="{$vo.ad_img}" class='nopic' alt="" width="898"/>
                            <h1>{$vo.ad_name|substr_cn=40}</h1>
                        </a>
                    </div>
                    {/volist}
                  </div>
                </div>
                <div class="pagination"></div>
              </div>
            </div>
            <div class="pa1tr">
                <h1>选择资海  选择品质</h1>
                <p>黑龙江资海网络科技集团股份有限公司资海网络集团成立于2006年，以为企业提供全套互联网解决方案为主营方向，是集域名注册、IDC服务、网站建设与运营、APP开发、软件系统开发等互联网服务为一体的集团化企业。</p>
                <a href="http://wpa.qq.com/msgrd?v=3&uin=2355310909&site=qq&menu=yes">立即咨询</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="pa1bot">
            <ul>
                <li><a href="">
                    <span>P</span>
                    <div class="pa1b">
                        <h1>专业的策划</h1>
                        <p>PLANNING</p>
                    </div>
                    <div class="clear"></div>
                </a></li>
                <li><a href="">
                    <span>D</span>
                    <div class="pa1b">
                        <h1>高端的设计</h1>
                        <p>DESIGN</p>
                    </div>
                    <div class="clear"></div>
                </a></li>
                <li><a href="">
                    <span>T</span>
                    <div class="pa1b">
                        <h1>领先的技术</h1>
                        <p>TECHNOLOGY</p>
                    </div>
                    <div class="clear"></div>
                </a></li>
                <li><a href="">
                    <span>S</span>
                    <div class="pa1b">
                        <h1>贴心的服务</h1>
                        <p>SERVICE</p>
                    </div>
                    <div class="clear"></div>
                </a></li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>
<div class="part2">
    <div class="container">
        <div class="title" aos="fade-down">
            <h1>你的网站为什么<b>不赚钱?</b></h1>
            <div class="line"><span></span></div>
            <p>建站专家精准定位时尚，大气，实用，美观的网站设计</p>
        </div>
        <div class="pa2con">
            <br><br>
            <p>很想做好网络营销，却无从下手？</p>
            <p>想建一个好一点的营销型网站，却不知道怎么做？找谁做？</p>
            <p>花了很多钱做竞价广告，砸各类广告，但是有流量，转化率低？甚至亏钱？</p>
            <p>参加了各类各样的网络营销培训？—懂了，明了，想重视网络，却无法执行？</p>
            <p>请了个"半桶水"的网络负责人，事情做了，工资发了，但效果一直起不来？</p>
            <p>网络效果还不错，但是很难再进一步？自己管理，很累，想找个靠谱的公司解放自己？</p>
            <img src="{$default_path}/images/icon.png" alt="" class="img1" aos="flip-left"/>
            <div class="pa2b">
                <img src="{$default_path}/images/icon4.png" alt="" class="img2" aos="flip-right"/>
                <div class="pa2b1">
                    <p>SEO优化/竞价托管/网站建设</p><p>全方位帮助中小企业快速成功转型</p>
                    <p>有资源、有渠道、有团队、有技术、有方法及成熟的模式可复制</p>
                </div>
                <a href="http://wpa.qq.com/msgrd?v=3&uin=2355310909&site=qq&menu=yes" class="click">点击咨询</a>
            </div>
        </div>
    </div>
</div>
<div class="part3">
    <div class="title" aos="fade-down">
        <h1>他们都在做什么?</h1>
        <div class="line"><span></span></div>
        <p>建站专家精准定位时尚，大气，实用，美观的网站设计</p>
    </div>
    <div class="pa3con">
        <div class="container">
            <div class="pa3c">
                <a href="">推荐案例</a>
                {volist name=":get_cate_child('case')" id="vo"}
                    <a href="{:url('/case')}">{$vo.cate_name}</a>
                {/volist}
                </div>
        </div>
        <ul>
            {volist name=":get_article_list('case',10)" id="vo"}
            <li><a href="{:url('/case/'.$vo['id'])}"><img src="{$vo.art_img}" alt="{$vo.title}" class="case_pic"  /></a></li>
            {/volist}
            <div class="clear"></div>
        </ul>
    </div>
</div>
<div class="part4">
    <div class="container">
        <div class="title" aos="fade-down">
            <h1><b>权威专家</b>带你了解前沿信息</h1>
            <div class="line"><span></span></div>
            <p>建站专家精准定位时尚，大气，实用，美观的网站设计</p>
        </div>
        <div class="pa4con">
            <div class="pa4l float_l">
                <ul>
                    {volist name=":get_cate_child('news',4)" id="vo"}
                    <li {if $i eq 1}class="act"{/if}><a href="{:url('/news/'.$vo['guid'])}">
                        <h1><span>{$i}</span>{$vo.cate_name}</h1>
                        <p>{$vo.alias_name}</p>
                    </a></li>
                    {/volist}
                </ul>
            </div>
            <div class="pa4m float_l">
                <h1>我们的客户</h1>
                <h2>5000+</h2>
                <p>经典案例</p>
                <a href="{:url('cases/index')}"><img src="{$default_path}/images/icon7.png" alt=""/></a>
            </div>
            <div class="pa4r float_r">
                <ul>
                    {volist name=":get_article_list('news',4)" id="vo"}
                    <li aos="slide-up"><a href="{$vo.art_url}">
                        <span>{$vo.update_time|date='d',###}<b>{$vo.update_time|date='Y-m',###}</b></span>
                        <div class="pa4rli">
                            <h1>{$vo.title|substr_cn=26}</h1>
                            <p>{$vo.content|substr_cn=58}</p>
                        </div>
                        <div class="clear"></div>
                    </a></li>
                    {/volist}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="part5">
    <div class="container">
        <div class="title" aos="fade-down">
            <h1>他们选择<b>资海</b></h1>
            <div class="line"><span></span></div>
            <p>我们大部分业务来自长期合作的客户 / 相信知名企业 相信资海</p>
        </div>
        <div class="pa5con">
            <ul>
                {volist name=":get_link(2)" id="vo"}
                <li><a href="{$vo.link_addr}" target="{$vo.link_target}"><img src="{$vo.link_img}" alt="{$vo.link_name}" style="width: 200px;height: 140px" /></a></li>
                {/volist}
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $(document).ready(function() {
        function resizePic(){
            $(".case_pic").each(function(index, el) {
                $(this).height($(this).width()/380*262);
            });
        }
        resizePic();
        $(window).resize(function(event) {
             resizePic();
        });
    });
</script>
{/block}