{extend name="base" /}
{block name="content_title"}我的密码{/block}
{block name="content_body"}	
	<form method="post" class="form-x" action="">				
		{html:text name="admin_name" class="text" label="用户名" value="$dataEdit.admin_name"}
		{html:text name="password_expire" class="text" label="密码过期时间" value="$dataEdit.password_expire == 0 ? '永不过期' : date('Y-m-d H:i:s',$dataEdit.password_expire)"}
		{html:input name="password_now" type="password" class="input w50" addstr='data-validate="required:请输入当前密码"' label="当前密码"}
		{html:input name="password" type="password" class="input w50" addstr='data-validate="required:请输入新密码"' label="新密码"}
		{html:input name="password_comfirm" type="password" class="input w50" addstr='data-validate="required:请确认新密码,repeat#password:两次输入的密码不一致"' label="确认新密码"}		
		
		<div class="form-group">
			<div class="label">
				<label></label>
			</div>
			<div class="field">
				{html:button class="bg-main icon-check-square-o" } 提交{/html:button}
			</div>
		</div>
	</form>
{/block}