{extend name="base" /}
{block name="content_title"}修改密码{/block}
{block name="content_body"}	
	<form method="post" class="form-x" action="">		
		{html:hidden name="id" value="$dataEdit.id"}	
		{html:input name="password" type="password" class="input w50" addstr='data-validate="required:请输入新密码"' label="新密码"}
		{html:input name="password_comfirm" type="password" class="input w50" addstr='data-validate="required:请确认新密码,repeat#password:两次输入的密码不一致"' label="确认新密码"}		
		
		<div class="form-group">
			<div class="label">
				<label></label>
			</div>
			<div class="field">
				{html:button class="bg-main icon-check-square-o" } 提交{/html:button}
			</div>
		</div>
	</form>
{/block}