{extend name="base" /}
{block name="content_title"}添加/编辑{/block}
{block name="content_body"}	
	<form method="post" class="form-x" action="">		
		{html:input name="user_name" class="input w50" addstr='data-validate="required:请输入用户名"' label="用户名"}
		{html:input name="user_pass" type="password" class="input w50" addstr='data-validate="required:请输入密码"' label="密码"}
		{html:input name="user_pass_confirm" type="password" class="input w50" addstr='data-validate="required:请输确认密码"' label="确认密码"}
				
		{html:input name="nickname" class="input w50" label="昵称"}
		{html:input name="user_phone" class="input w50" label="手机号"}
		{html:input name="user_email" class="input w50" label="邮箱"}
		
		{html:radio name="status" value=":config('status_user')" default="1" label="状态" }
		<div class="form-group">
			<div class="label">
				<label></label>
			</div>
			<div class="field">
				{html:button class="bg-main icon-check-square-o" } 提交{/html:button}
			</div>
		</div>
	</form>
{/block}