<!-- footer start-->
<div style="height: 57px;"></div>
<footer>
	<ul>
	    <li class="home"><a href="{:url('index/index')}"><img src="{$style_path}/images/home1.png" /><span>首页</span></a></li>
	    <li class="home"><a href="{:url('business/index')}"><img src="{$style_path}/images/home2.png" /><span>业务模块</span></a></li>
	    <li class="home"><a href="tel:{$setting.telephone}"><img src="{$style_path}/images/home3.png" /><span>一键拨号</span></a></li>
	    <li class="home"><a href="{:url('about/contact')}"><img src="{$style_path}/images/home4.png" /><span>联系我们</span></a></li>
    </ul>
</footer>
<!-- footer end -->
<script>
AOS.init({
	easing: 'ease-out-back',
	duration: 1000
});
</script>